<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${sys:peerName} | %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="${sys:peerName}.log" append="false">
            <PatternLayout pattern="${sys:peerName} | %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Root level="DEBUG">-->
        <!--<AppenderRef ref="File"/>-->
        <!--</Root>-->
        <Logger name="io.netty" level="ERROR"/>
        <Logger name="ceng" level="INFO"/>
    </Loggers>
</Configuration>
